/* div{
    width: 50%;
    margin: 0 auto;
    background-color: rgba(110, 110, 110, 0.253);
    color: rgb(15, 15, 15);
    text-align: center;
    text-transform: capitalize;
    line-height: 3;
    font-size: 30px;
    padding: 100px 0;
    border-radius: 20px;
    box-shadow: 4px 4px 10px rgba(0, 255, 34, 0.39);
} */